/* Genel Ayarlar */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial Black', sans-serif;
    background-color: #a6dbdd; /* Açık mavi arka plan */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Navigasyon Çubuğu */
.navbar {
    background-color: #0000cd; /* Lacivert üst bant */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

/* Linkleri buton gibi gösteren yeni düzenleme */
.nav-btn {
    text-decoration: none; /* Link alt çizgisini kaldırır */
    background-color: #add8e6;
    border: 3px solid #708090;
    color: #4b0082;
    padding: 10px 30px;
    font-weight: bold;
    display: inline-block; /* Genişlik ve yükseklik alabilmesi için */
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3s; /* Renk geçişini yumuşatır */
}

.nav-btn:hover {
    background-color: #ffffff; /* Fare gelince beyaz olur */
}

/* Aktif sayfa belirtici */
.active {
    background-color: #ffffff; 
    border-color: #030303;
}

/* Ana Konteyner */
.container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 40px;
    flex-grow: 1;
    gap: 20px;
}

/* Fotoğraf Sütunları */
.photo-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 28%;
}

.photo-box {
    border: 5px solid black;
    height: 48%;
    background-color: #a8dadc;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Orta Mesaj Kartı */
.center-content {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message-card {
    background-color: #c0c0c0; /* Gri kart rengi */
    padding: 30px;
    border-radius: 50px;
    text-align: center;
    border: 1px solid #888;
}

.divider {
    border: 2px solid black;
    margin: 20px 0;
}

.quote {
    font-weight: 900;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: black;
}

.info {
    font-size: 0.85rem;
    color: rgb(3, 3, 3);
}

/* Alt Bant */
.footer {
    background-color: #00008b;
    height: 60px;
    width: 100%;
}